.h1{
    height: 100px;
   display: flex;
   justify-content: center;
   align-items: center;

}

.link{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: black solid 1px; */
    height: 40px;
    width: 150px;
    margin: 50px;
    position: absolute;
    left: 0;
}


.link2{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: black solid 1px; */
    height: 40px;
    width: 300px;
    margin: 50px;
    position: absolute;
    right: 0;
}

.div{
    display: inline-flex;
    width: 500px;
    /* border: red solid 1px; */
}

.btn {
    height: 30px;
    width: 200px;
    margin: 15px;
    font-weight: bold;
    border-radius: 20px;
    background-color: rgb(243, 127, 73);
 }

 .Link{
     text-decoration: none;
     font-weight: bold;
     color: black;
 }