.h1{
    height: 100px;
   display: flex;
   justify-content: center;
   align-items: center;
   border: black solid 1px;
}

.link{
    display: flex;
    justify-content: center;
    align-items: center;
    border: black solid 1px;
    height: 40px;
    width: 150px;
    margin: 50px;
    position: absolute;
    left: 0;
}


.link2{
    display: flex;
    justify-content: center;
    align-items: center;
    border: black solid 1px;
    height: 40px;
    width: 150px;
    margin: 50px;
    position: absolute;
    right: 0;
}
