.section {
  margin-top: 20px;
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

#closeIcon {
  display: flex;
  justify-content: flex-end;
  margin-right: 8px;
  margin-top: 8px;
}

.prueba {
  background: transparent;
  color: white;
  justify-content: center;
}

.img {
  top: 0;
  height: 200px;
  width: 300px;
}

.texto {
  height: 12%;
  width: 300px;
}

.link {
  display: flex;
  justify-content: center;
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  margin: 5px;
  margin-top: 10px;
}

.a {
  margin-left: 22px;
  margin-right: 22px;
  margin-top: 10px;
  margin-bottom: 20px;
  height: 45%;
  width: 330px;
  /* border: blue solid; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.a:hover {
  transition: 500ms;
  transform: scale(1.1);
}

.p {
  margin: 20px;
}

.genres {
  display: flex;
  justify-content: center;
}

.genre {
  margin: 5px;
}

.margin {
  margin: 10px;
}