
.link {
    text-decoration:none;
}

.button{
    display: block;
    justify-content: center; 
    width: 600px;
    text-decoration: none;
    margin-top: 140px;
    margin-left: 75px;
}


.div {
    position: fixed;
    height: 750px;
    width: 1366px;
    background-image: url('https://media.rawg.io/media/games/4dd/4ddaecc5da9431e2fc7e9be1477ff31e.jpg');
    background-repeat: no-repeat;
    background-size: contain;
}

.btn{
    margin-left: 220px;
    width: 120px;
    height: 70px;
    font-weight: bold;
    border: none;
    border-radius: 50% ;
    background: rgb(255, 168, 86);
    font-size: 1.1rem;    
    text-decoration: none;
}

.btn:hover{
   transition: 800ms;
   background: rgb(252, 124, 65);
}

.h1{
    display: flex;
    justify-content: center;
    font-size: 2.5rem;

}