

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    
    ;
}

.link {
    width: 100px;
    height: 60px;
    align-self: center;
    
}

.div{
    display: flex;
    justify-content: center;
    
    
}