.link {
    text-decoration: none;
    z-index: 30;
    margin-top: 25%;
    width: 40%;
    position: absolute;
    margin-left: 30%;
}

.button {
    display: block;
    justify-content: center;
    width: 1000px;
    text-decoration: none;
    margin-top: 140px;
}

.div {
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url('../../images/fondo\ 3.jfif');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    filter: blur(2px);
    z-index: 20;
}

.btn {
    margin-left: 30%;
    width: 30%;
    height: 50px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    background: rgb(255, 255, 255);
    font-size: 1.4rem;
    text-decoration: none;
}

.btn:hover {
    transition: 600ms;
    background: rgb(252, 124, 65);
}

.h1 {
    /* display: flex;
    justify-content: center; */
    font-size: 4rem;
    color: rgb(255, 255, 255);
    position: absolute;
    z-index: 20;
    width: 100%;
    height: 75px;

}

.divH1 {
    margin-left: 14%;
    position: absolute;
    width: 72%;
    height: 75px;
    margin-top: 7%;
    z-index: 30;
}