:root {
    background-color: rgb(42, 42, 42);
  }

.h1{
    height: 100px;
   display: flex;
   justify-content: center;
   align-items: center;
  
}


.filtros{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-left: 25%;
    font-family: 'Bangers', cursive;
    height: auto;
    width: 50%;
    flex-wrap: wrap;
}


.nav{
    display: flex;
    
}

.titulo{
    font-size: 3rem;
    /* font-family: 'Bangers', cursive; */
    font-family: 'Press Start 2P', cursive;
}

.link{
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 40px;
    width: 150px;
    margin: 50px;
    position: absolute;
    left: 0;
}

.link2{
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 40px;
    width: 150px;
    margin: 50px;
    position: absolute;
    right: 0;
}

.divFiltros{
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: baseline;
    /* border: none; */
    background-color: rgb(243, 140, 80);
    width: 100vw;
}

.prueba1{
    margin: 15px;
}

.prueba{
    
    margin: 15px;
}

.buesqueda{
    
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.section {
    /* border: blue solid 5px; */
    display: inline-flex;
    flex-wrap: wrap;
    align-items:center;
    justify-content:space-evenly;
    width:100vw;
    background-color: rgb(18,18,18);
    
}

.btn {
   height: 20px;
   width: 25px;
}

.btnFilter {
    height: 30px;
    width: 90px;
    margin: 15px;
    font-weight: bold;
    border-radius: 20px;
    background-color: rgb(243, 140, 80);
    border: none;
 }


.h1Pagination{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    color: white;
}

.Link{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
    font-size: 1rem;
    margin: 5px;
}

@media (max-width: 500px) {
    .divFiltros {
    height: auto;
    width: auto;
    }

} 
@media only screen and (min-width:501) and (max-width: 850px) {
    

} 