

.nav{
    display: flex;
    border: red solid 1px;
    width: 100vw;
    justify-content: center;
}

.ul{
    height: 50px;
    width: 250px;
    display: inline-flex;
    list-style: none;
    align-items: center;
    padding-right: 40px;
    justify-content: center;
    border: black 2px solid;
    

}

.li{
    display: flex;
    height: 30px;
    width: 50px;
    border: solid 1px red;
    justify-content: center;
    margin-left: 10px;
}