

.nav{
    display: flex;
    width: 100vw;
    justify-content: center;
}

.ul{
    height: 50px;
    width: 250px;
    display: inline-flex;
    align-items: center;
    justify-content: center;

}

.li{
    display: flex;
    height: 30px;
    width: 50px;
    
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

.btn {
    height: 25px;
    width: 65px;
    margin: 5px;
    font-weight: bold;
    border-radius: 20px;
    background-color: rgb(243, 140, 80);
 }

 .btnNumber {
    height: 25px;
    width: 45px;
    font-weight: bold;
    border-radius: 20px;
    background-color: rgb(243, 140, 80);
 }