.root {
    display: flex;
    align-items: center;
    width: 40%;
    height:40%;
    margin-top: 2.5%;
    background-color: rgb(65, 65, 65);
    border-radius: 25px;
    
}

.Link{
    color: rgb(42, 42, 42);
    text-decoration: none;
    font-weight: bold;
    font-size: 0.9rem;
   
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: rgb(243, 140, 80);
    border-radius: 25px;
    
}
.divider {
    height: 28px;
    margin: 4px;

}



 @media (max-width: 500px) {
    .root {
    display: flex;
    flex-direction: column;
    height: auto;
    width: auto;
    margin: 10%;
    }
    .divider {
        display: none;
    }
} 


@media (max-width: 1000px) and (min-width: 501px) {
    .root {
    width: 400px;
    }
    
} 